.onboard--wrapper {
	background-color: #fff;
	position: fixed;
	bottom: -400px; left: 0;
	height: 400px;
	width: 100%;
  box-shadow: 0 -2px 20px -2px #efefef;
  font-size: 14px;
  transition: bottom 0.3s ease-in-out;
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05em;
  border-top: 1px solid #efefef;
}

.onboard--wrapper.shown {
	bottom: 0;
}



.onboard--close {
	position: absolute;
	top: -40px;
	right: 100px;
}

.onboard--close > a {
	display: block;
	font-weight: 500;
	background-color: #BFBFBF;
	color: #fff;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.onboard--close > a:hover {
	background-color: #EF6300;
}



.onboard--inner {
	padding: 25px;
}



.onboard--step {
	width: 70%;
	max-width: 700px;
	min-width: 400px;
	margin: 0 auto;
	text-align: center;
	display: none;
}

.onboard--step:first-child {
	display: block;
}

.onboard--step--media {
	height: 250px;
	width: 80%;
	max-width: 700px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.onboard--step--caption {
	line-height: 1.2em;
	font-weight: 200;
	margin: 10px auto;
	width: 80%;
	letter-spacing: 0.03em;
}



.onboard--controls {
  height: 100%;
  width: 20%;
  background: transparent;
  position: absolute;
  top: 0;
}

.onboard--controls > a {
	display: block;
	height: 100%;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	color: #ddd;
	transition: color 0.3s, background-color 0.2s, box-shadow 0.2s;
  line-height: 400px;
  font-size: 3.5em;
  text-align: center;
}

.onboard--controls > a:hover {
	color: #999;
	background-color: #f5f5f5;
}

.onboard--controls > a:active {
	box-shadow: inset 2px 0 8px #E4E4E4;
	background-color: #f1f1f1;
	color: #000;
}

.onboard--controls--prev {
  left: 0;
}

.onboard--controls--next {
  right: 0;
}